
* {
    box-sizing: border-box;
}

#container{
    height: 580px;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

body,
html {
   color: #ccc;
    background: #262626;
    font-family: monospace;
    height: 100%;
    width: 100%;
   font-size: 13pt;
}

.wrapper {
    // position: absolute;
    // width: 590px;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
}

.floor {
    -webkit-transform: rotateX(55deg) rotateZ(45deg);
    -webkit-transform-style: preserve-3d;
    font-size: 0;
}

.floor .tile {
    font-size: 11pt;
    color: #ccc;
    display: inline-block;
    background: #C1C1D7;
    width: 2.2rem;
    height: 2.2rem;
    margin: 0;
    box-shadow: 0 0 0 .1em hsla(0, 0%, 0%, .2);
    border: solid 1px white;
    line-height: 48px;
    text-align: center;
    position: relative;
    vertical-align: top;
}


