<div class="card">
  <div class="px-gutter py-4 border-b">
    <h2 class="title m-0">Paramétres</h2>
  </div>
  <div class="px-gutter py-4 mt-3" gdColumns="1fr 1fr 1fr"
       gdColumns.lt-md="1fr 1fr 1fr"
       gdColumns.lt-sm="1fr"
       gdGap="16px"
       vexContainer>
    <div gdColumn="1 / 4">
      <h3 class="font-medium" fxLayoutAlign="center center">Paramétres globaux</h3>
    </div>
    <mat-divider gdColumn="1 / 4"></mat-divider>
    <div gdColumn.lt-sm="1" fxLayoutAlign="center center">
      <mat-form-field class="full-width" fxFlex="75">
        <mat-label>Delai des déplacements</mat-label>
        <mat-select>
          <mat-option value="1">250 - 450 MS</mat-option>
          <mat-option value="2">451 - 650 MS</mat-option>
          <mat-option value="3">650 MS - 1100 MS</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div gdColumn.lt-sm="1" fxLayoutAlign="center center">
      <mat-form-field class="full-width" fxFlex="75">
        <mat-label>Effectuer une pause</mat-label>
        <mat-select>
          <mat-option value="1">40 combats</mat-option>
          <mat-option value="1">60 combats</mat-option>
          <mat-option value="1">80 combats</mat-option>
          <mat-option value="1">100 combats</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <mat-form-field class="example-full-width">
      <mat-label>Définir une zone d'agression</mat-label>
      <input matInput placeholder="3">
    </mat-form-field>
    <div gdColumn.lt-sm="1" fxLayoutAlign="center center">
      <mat-slide-toggle color="primary" [checked]="true">Activer la réponse automatique au mp</mat-slide-toggle>
    </div>
    <mat-divider gdColumn="1 / 4"></mat-divider>
    <div gdColumn="1 / 4">
      <h3 class="font-medium" fxLayoutAlign="center center">Paramétres de notification</h3>
    </div>
    <div gdColumn="1 / 4">
      <p>RAF</p>

    </div>

  </div>
</div>
