<div class="toolbar w-full px-gutter" fxLayout="row" fxLayoutAlign="start center" vexContainer>
  <button (click)="openSidenav()" [fxHide]="!mobileQuery" mat-icon-button type="button">
    <mat-icon [icIcon]="icMenu"></mat-icon>
  </button>

  <a *ngIf="isVerticalLayout$ | async"
     [routerLink]="['/']"
     class="ltr:mr-4 rtl:ml-4 block"
     fxLayout="row"
     fxLayoutAlign="start center">
    <img class="w-8 select-none" src="assets/img/logo/logo-rounded.svg">
    <h1 [fxHide]="mobileQuery" class="title ltr:pl-4 rtl:pr-4 m-0 select-none">DeepBot</h1>
  </a>

  <button *ngIf="isHorizontalLayout$ | async"
          [fxHide]="mobileQuery"
          [matMenuTriggerFor]="addNewMenu"
          color="primary"
          mat-raised-button
          type="button">
    {{ 'TOOLBAR.BOTHANDLE' | translate}}
  </button>

  <mat-menu #addNewMenu="matMenu" [overlapTrigger]="false" xPosition="after" yPosition="below">

    <button [matMenuTriggerFor]="AccountMenu" mat-menu-item>
      <mat-icon [icIcon]="icPersonAdd"></mat-icon>
      <span>{{ 'TOOLBAR.HANDLEACCOUNT' | translate}}</span>
    </button>

    <button [matMenuTriggerFor]="GroupMenu" mat-menu-item>
      <mat-icon [icIcon]="icDoneAll"></mat-icon>
      <span>{{ 'TOOLBAR.HANDLEGROUP' | translate}}</span>
    </button>

    <button [matMenuTriggerFor]="PathMenu" mat-menu-item>
      <mat-icon [icIcon]="icAssignmentTurnedIn"></mat-icon>
      <span>{{ 'TOOLBAR.HANDLEPATH' | translate}}</span>
    </button>

    <button [matMenuTriggerFor]="IAMenu" mat-menu-item>
      <mat-icon [icIcon]="icBallot"></mat-icon>
      <span>{{ 'TOOLBAR.HANDLEIA' | translate}}</span>
    </button>
  </mat-menu>


  <!--menu account-->
  <mat-menu #AccountMenu="matMenu">
    <button mat-menu-item [routerLink]="['/createAccount']">
      <mat-icon [icIcon]="icDescription"></mat-icon>
      <span>{{ 'TOOLBAR.CREATEACCOUNT' | translate}}</span>
    </button>

    <button mat-menu-item [routerLink]="['/updateAccount']">
      <mat-icon [icIcon]="icAssignment"></mat-icon>
      <span>{{ 'TOOLBAR.UPDATEACCOUNT' | translate}}</span>
    </button>
  </mat-menu>

  <!--menu group-->
  <mat-menu #GroupMenu="matMenu">
    <button mat-menu-item [routerLink]="['/createGroup']">
      <mat-icon [icIcon]="icDescription"></mat-icon>
      <span>{{ 'TOOLBAR.CREATEGROUP' | translate}}</span>
    </button>

    <button mat-menu-item [routerLink]="['/updateGroup']">
      <mat-icon [icIcon]="icAssignment" ></mat-icon>
      <span>{{ 'TOOLBAR.UPDATEGROUP' | translate}}</span>
    </button>

  </mat-menu>

  <!--menu trajet-->
  <mat-menu #PathMenu="matMenu">
    <button mat-menu-item [routerLink]="['/createPath']">
      <mat-icon [icIcon]="icDescription"></mat-icon>
      <span>{{ 'TOOLBAR.CREATEPATH' | translate}}</span>
    </button>

    <button mat-menu-item>
      <mat-icon [icIcon]="icAssignment"></mat-icon>
      <span>{{ 'TOOLBAR.UPDATEPATH' | translate}}</span>
    </button>
  </mat-menu>

  <!--menu IA-->
  <mat-menu #IAMenu="matMenu">
    <button mat-menu-item>
      <mat-icon [icIcon]="icDescription"></mat-icon>
      <span>{{ 'TOOLBAR.CREATEIA' | translate}}</span>
    </button>

    <button mat-menu-item>
      <mat-icon [icIcon]="icAssignment"></mat-icon>
      <span>{{ 'TOOLBAR.UPDATEIA' | translate}}</span>
    </button>
  </mat-menu>

  <div #megaMenuOriginRef class="ltr:ml-2 rtl:mr-2">
    <button *ngIf="isHorizontalLayout$ | async"
            [fxHide]="mobileQuery"
            (click)="openMegaMenu(megaMenuOriginRef)"
            color="primary"
            mat-button
            type="button">
      Menu
      <ic-icon [icon]="icArrowDropDown" class="ltr:-mr-1 rtl:-ml-1" inline="true"></ic-icon>
    </button>
  </div>


  <div *ngIf="(isVerticalLayout$ | async) && isNavbarInToolbar$ | async"
       [fxHide]="mobileQuery"
       class="px-gutter"
       fxFlex="none"
       fxLayout="row"
       fxLayoutAlign="start center">
    <vex-navigation-item *ngFor="let item of navigationItems" [item]="item"></vex-navigation-item>
  </div>

  <span fxFlex></span>

  <div class="-mx-1 flex items-center">

    <div class="px-1">
      <button [matMenuTriggerFor]="languageMenu" mat-icon-button type="button">
        <mat-icon *ngIf="user.langue == 'fr'" [icIcon]="emojioneFR"></mat-icon>
        <mat-icon *ngIf="user.langue == 'es'" [icIcon]="emojioneES"></mat-icon>
        <mat-icon *ngIf="user.langue == 'en'" [icIcon]="emojioneEN"></mat-icon>
      </button>
    </div>

    <div class="px-1">
      <div>
        <vex-toolbar-user></vex-toolbar-user>
      </div>
    </div>

    <mat-menu #languageMenu="matMenu" overlapTrigger="false" xPosition="before" yPosition="below">
      <button mat-menu-item (click)="changeLanguage('fr')">
        <mat-icon [icIcon]="emojioneFR"></mat-icon>
        <span>Français</span>
      </button>
      <button mat-menu-item (click)="changeLanguage('en')" >
        <mat-icon [icIcon]="emojioneEN"></mat-icon>
        <span>English</span>
      </button>

      <button mat-menu-item (click)="changeLanguage('es')">
        <mat-icon [icIcon]="emojioneES"></mat-icon>
        <span>Espanol</span>
      </button>
    </mat-menu>
  </div>
</div>

<vex-navigation *ngIf="(isVerticalLayout$ | async) && isNavbarBelowToolbar$ | async"
                [fxHide]="mobileQuery"></vex-navigation>
