<div class="card">
  <div class="px-gutter py-4 border-b">
    <h2 class="title m-0">{{'DASHBOARDBOT.FIGHT' | translate}}</h2>
  </div>
  <div class="px-gutter py-4 mt-3" gdColumns="1fr 1fr 1fr"
       gdColumns.lt-md="1fr 1fr 1fr"
       gdColumns.lt-sm="1fr"
       gdGap="16px"
       vexContainer>
    <div gdColumn="1 / 4">
      <h3 class="font-medium" fxLayoutAlign="center center">{{'DASHBOARDBOT.PREPARATION' | translate}}</h3>

    </div>

    <mat-divider gdColumn="1 / 4"></mat-divider>

    <div gdColumn.lt-sm="1" fxLayoutAlign="center center">
      <mat-form-field class="full-width" fxFlex="75">
        <mat-label>{{'DASHBOARDBOT.POSSTARTFIGHT' | translate}}</mat-label>
        <mat-select>
          <mat-option value="1">{{'DASHBOARDBOT.CLOSEST' | translate}}</mat-option>
          <mat-option value="1">{{'DASHBOARDBOT.FAREST' | translate}}</mat-option>
          <mat-option value="1">{{'DASHBOARDBOT.NOPLACEMENT' | translate}}</mat-option>
        </mat-select>
      </mat-form-field>

    </div>
    <div gdColumn.lt-sm="1" fxLayoutAlign="center center">
      <mat-slide-toggle color="primary" [checked]="true">{{'DASHBOARDBOT.BLOCKSPEC' | translate}}</mat-slide-toggle>
    </div>
    <div gdColumn.lt-sm="1" fxLayoutAlign="center center">
      <mat-slide-toggle color="primary" [checked]="true">{{'DASHBOARDBOT.BLOCKFIGHT' | translate}}</mat-slide-toggle>
    </div>
    <mat-divider gdColumn="1 / 4"></mat-divider>
    <div gdColumn="1 / 4">
      <h3 class="font-medium" fxLayoutAlign="center center">{{'DASHBOARDBOT.COMBATPHASE' | translate}}</h3>
    </div>
    <mat-divider gdColumn="1 / 4"></mat-divider>
    <div gdColumn.lt-sm="1 " fxLayoutAlign="center center">
      <mat-form-field class="full-width" fxFlex="75">
        <mat-label>{{'DASHBOARDBOT.IASELECTED' | translate}}</mat-label>
        <mat-select>
          <mat-option value="1">Nom IA1</mat-option>
          <mat-option value="2">Nom IA2</mat-option>
          <mat-option value="3">Nom IA3</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div gdColumn.lt-sm="1" fxLayoutAlign="center center">
      <mat-form-field class="full-width" fxFlex="75">
        <mat-label>{{'DASHBOARDBOT.ACTIONSPEED' | translate}}</mat-label>
        <mat-select>
          <mat-option value="1">150 - 350 MS</mat-option>
          <mat-option value="2">351 - 650 MS</mat-option>
          <mat-option value="3">650 MS - 1100 MS</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div gdColumn.lt-sm="1" fxLayoutAlign="center center">
      <mat-form-field class="full-width" fxFlex="75">
        <mat-label>{{'DASHBOARDBOT.TRYCHALLENGE' | translate}} </mat-label>
        <mat-select multiple>
          <mat-option value="1">Mystique</mat-option>
          <mat-option value="2">Anachoréte</mat-option>
          <mat-option value="3">Borné</mat-option>
          <mat-option value="4">Statue</mat-option>
          <mat-option value="5">Versatile</mat-option>
          <mat-option value="6">Pétulant</mat-option>
          <mat-option value="7">Pusillanime</mat-option>
          <mat-option value="8">Nomade</mat-option>
          <mat-option value="9">Zombie</mat-option>
          <mat-option value="10">Collant</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <mat-divider gdColumn="1 / 4"></mat-divider>
    <div gdColumn="1 / 4">
      <h3 class="font-medium" fxLayoutAlign="center center">{{'DASHBOARDBOT.POSTCOMBATPHASE' | translate}}</h3>
    </div>
    <mat-divider gdColumn="1 / 4"></mat-divider>
    <div gdColumn.lt-sm="1" fxLayoutAlign="center center">
      <mat-slider thumbLabel
                  min="1"
                  max="100"> </mat-slider>
      <p>{{'DASHBOARDBOT.PERCENTAGEMINILIFE' | translate}}</p>
    </div>
    <div gdColumn.lt-sm="1" fxLayoutAlign="center center">
      <mat-slide-toggle color="primary" [checked]="true">{{'DASHBOARDBOT.USECONSOMMABLE' | translate}}</mat-slide-toggle>
    </div>
    <div gdColumn.lt-sm="1" fxLayoutAlign="center center">
      <mat-slider thumbLabel
                  min="1"
                  max="100"> </mat-slider>
      <p>{{'DASHBOARDBOT.PERCENTAGEMINFIGHT' | translate}}</p>
    </div>
  </div>

  </div>
