<div fxLayout="row" fxLayoutAlign="space-between" fxFlexFill class="test">
    <div fxFlex="40">
        <mat-card>
            <mat-card-header>
                <img mat-card-avatar src="../../../../assets/img/classe/f_cra.png">
                <mat-card-title>Gerald Morris</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>Piqued favour stairs it enable exeter as seeing. Remainder met improving but engrossed sincerity
                    age. Better but length gay denied abroad are. Attachment astonished to on appearance imprudence
                    so collecting in excellence. Tiled way blind lived whose new. The for fully had she there leave
                    merit enjoy forth. </p>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex="40">
        <mat-card>
            <mat-card-header>
                <img mat-card-avatar src="../../../../assets/img/classe/f_cra.png">
                <mat-card-title>Gerald Morris</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>Piqued favour stairs it enable exeter as seeing. Remainder met improving but engrossed sincerity
                    age. Better but length gay denied abroad are. Attachment astonished to on appearance imprudence
                    so collecting in excellence. Tiled way blind lived whose new. The for fully had she there leave
                    merit enjoy forth. </p>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex="40">
        <mat-card>
            <mat-card-header>
                <img mat-card-avatar src="../../../../assets/img/classe/f_cra.png">
                <mat-card-title>Gerald Morris</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>Piqued favour stairs it enable exeter as seeing. Remainder met improving but engrossed sincerity
                    age. Better but length gay denied abroad are. Attachment astonished to on appearance imprudence
                    so collecting in excellence. Tiled way blind lived whose new. The for fully had she there leave
                    merit enjoy forth. </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>