.avatar2 {
  object-fit: contain !important;
  height: 5.5rem !important;
  width: 5.5rem !important;
}

.avatar {
  background: none !important;
  height: 4rem !important;
  width: 4rem !important;
}

.mat-progress-bar {
  height: 11px !important;
}
