<div class="card">
  <div class="px-gutter py-4 border-b">
    <h2 class="title m-0">{{'DASHBOARDBOT.INVENTORY' | translate}}</h2>
  </div>
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="{{'DASHBOARDBOT.EQUIPEMENT' | translate}}">
      RAF  afficher item équipe +  possible modification de l'equipement' 

    </mat-tab>
    <mat-tab label="{{'DASHBOARDBOT.ITEM' | translate}}">
      <app-liste class="mt-2" [itemDofus] ="itemDofus" ></app-liste>
    </mat-tab>
    <mat-tab label="{{'DASHBOARDBOT.CONSOMMABLE' | translate}}">
      <app-liste class="mt-2" [consommablesDofus]="consommablesDofus"></app-liste>
    </mat-tab>
    <mat-tab label="{{'DASHBOARDBOT.RESSOURCE' | translate}}">
      <app-liste class="mt-2" [ressourcesDofus] ="ressourcesDofus" ></app-liste>
    </mat-tab>
    <mat-tab label="{{'DASHBOARDBOT.BANK' | translate}}">
      <app-liste class="mt-2" [banqueDofus] ="banqueDofus" ></app-liste>
    </mat-tab>
  </mat-tab-group>

</div>
