<vex-page-layout>

  <vex-page-layout-header fxLayout="column" fxLayoutAlign="center start">
    <div vexContainer>
      <h1 class="title m-0">{{ 'CREATEGROUP.DESCRIPTION1' | translate }}</h1>
      <h4 class="ml-6">{{ 'CREATEGROUP.DESCRIPTION2' | translate }} </h4>
      <h4 class="ml-6"> {{ 'CREATEGROUP.DESCRIPTION3' | translate }} </h4>
    </div>
  </vex-page-layout-header>

  <vex-page-layout-content vexContainer @fadeInUp>
    <div class="card p-6">

      <div  class="overflow-hidden mt-10 mx-5" fxLayoutAlign="center center">
        <mat-horizontal-stepper #stepper="matHorizontalStepper" [linear]="true">
          <ng-template matStepperIcon="edit">
            <mat-icon [icIcon]="icDoneAll"></mat-icon>
          </ng-template>

          <ng-template matStepperIcon="done">
            <mat-icon [icIcon]="icDoneAll"></mat-icon>
          </ng-template>

          <mat-step [stepControl]="groupstep1">
            <form [formGroup]="groupstep1">
              <ng-template matStepLabel>{{ 'CREATEGROUP.GROUPLABEL' | translate }} </ng-template>

              <h2 class="title m-0">Creer un groupe</h2>
              <div class="subheading-1">{{ 'CREATEGROUP.GROUPPROPLABEL' | translate }}</div>

              <div class="mt-4" fxLayout="column" fxLayoutGap="8px">
                <mat-form-field fxFlex="auto">
                  <mat-label>{{ 'CREATEGROUP.GROUPNAME' | translate }}</mat-label>
                  <input formControlName="groupName" matInput required>
                  <mat-hint>{{ 'CREATEGROUP.GROUPNAMEHINT' | translate }}</mat-hint>
                </mat-form-field>
                <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="8px" fxLayoutGap.gt-xs="24px">
                  <mat-checkbox [checked]="hourchecked" (change)="hourchecked = !hourchecked" class="mt-6">{{ 'CREATEGROUP.AUTOLOGLABEL' | translate }}</mat-checkbox>
                  <mat-form-field fxFlex="auto" *ngIf="hourchecked">
                    <mat-label>Heure de début</mat-label>
                    <input type="number" formControlName="startHour" matInput required>
                    <span matSuffix>Heure</span>
                    <mat-hint>Heure à laquelle le groupe de bot se connectera automatiquement</mat-hint>
                  </mat-form-field>
                  <mat-form-field fxFlex="auto" *ngIf="hourchecked">
                    <mat-label>Heure de fin</mat-label>
                    <input type="number" formControlName="endHour" matInput required>
                    <span matSuffix>Heure</span>
                    <mat-hint>Heure à laquelle le groupe de bot se déconnectera automatiquement aprés son combat</mat-hint>
                  </mat-form-field>
                </div>
                <mat-form-field class="mt-1">
                  <mat-label>{{ 'CREATEGROUP.PATHLABEL' | translate }}</mat-label>
                  <mat-select formControlName="trajet">
                    <mat-option [value]="1">Trajet 1</mat-option>
                    <mat-option [value]="2">Trajet 2</mat-option>
                    <mat-option [value]="3">Trajet 3</mat-option>
                    <mat-option [value]="4">Trajet 4</mat-option>
                  </mat-select>
                  <mat-hint>{{ 'CREATEGROUP.PATHHINT' | translate }}</mat-hint>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <mat-label>{{ 'CREATEGROUP.DESCRIPTIONLABEL' | translate }}</mat-label>
                  <textarea matInput placeholder="Combat Zone : Bouftou" formControlName="description"></textarea>
                </mat-form-field>

              </div>

              <div class="actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
                <button (click)="stepper.reset()" color="primary" mat-button
                        type="button">
                  {{ 'GLOBAL.CANCEL' | translate }}
                </button>
                <button [disabled]="groupstep1.invalid" color="primary" mat-raised-button matStepperNext>
                  {{ 'GLOBAL.NEXT' | translate }}
                </button>
              </div>
            </form>
          </mat-step>

          <mat-step [stepControl]="groupstep2">
            <form [formGroup]="groupstep2">
              <ng-template matStepLabel>{{ 'CREATEGROUP.LEADER' | translate }}</ng-template>

              <h2 class="title m-0">{{ 'CREATEGROUP.SELECTLEADERLABEL' | translate }}</h2>
              <div class="subheading-1">{{ 'CREATEGROUP.SELECTLEADERDESCRIPTION' | translate }}</div>

              <div class="mt-4" fxLayout="column" fxLayoutGap="8px">
                <mat-form-field class="mt-2" fxFlex="auto">
                  <mat-label>Choisisez votre leader</mat-label>
                  <mat-select formControlName="leader">
                    <mat-option *ngFor="let character of characterList" [value]="character" (click)="updateList(character)"><b>{{character.name}} </b> ({{ 'GLOBAL.BREED' | translate }} : {{character.breedId}}, {{ 'GLOBAL.LEVEL' | translate }} : {{character.level}} )</mat-option>
                  </mat-select>
                  <mat-hint>{{ 'CREATEGROUP.SELECTEDLEADERLABELHINT' | translate }}</mat-hint>
                </mat-form-field>
              </div>

              <div class="actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
                <button color="primary" mat-button matStepperPrevious type="button">{{ 'GLOBAL.BACK' | translate }}</button>
                <button [disabled]="groupstep2.invalid" color="primary" mat-raised-button matStepperNext>
                  {{ 'GLOBAL.NEXT' | translate }}
                </button>
              </div>
            </form>
          </mat-step>

          <mat-step [stepControl]="groupstep3">
            <form [formGroup]="groupstep3">
              <ng-template matStepLabel>{{ 'CREATEGROUP.MEMBER' | translate }}</ng-template>

              <div class="title m-0">{{ 'CREATEGROUP.SELECTMEMBER' | translate }}</div>
              <div class="subheading-1">
                {{ 'CREATEGROUP.SELECTMEMBERINFO' | translate }}
              </div>

              <div class="mt-4" fxLayout="row" fxFlexFill>
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>

    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="clickCheckbox(row)"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </td>
  </ng-container>

  <!-- Position Column -->
  <ng-container matColumnDef="serveur">
    <th mat-header-cell *matHeaderCellDef> {{ 'GLOBAL.SERVER' | translate }} </th>
    <td mat-cell *matCellDef="let element"> {{element.serverId}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="pseudo">
    <th mat-header-cell *matHeaderCellDef> {{ 'GLOBAL.PSEUDO' | translate }} </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="classe">
    <th mat-header-cell *matHeaderCellDef> {{ 'GLOBAL.BREED' | translate }} </th>
    <td mat-cell *matCellDef="let element"> {{element.breedId}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="level">
    <th mat-header-cell *matHeaderCellDef> {{ 'GLOBAL.LEVEL' | translate }} </th>
    <td mat-cell *matCellDef="let element"> {{element.level}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      >
  </tr>
</table>


              </div>

              <div class="actions mt-2" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
                <button color="primary" mat-button matStepperPrevious type="button">{{ 'GLOBAL.BACK' | translate }}</button>
                <button (click)="submit()" [disabled]="groupstep3.invalid" color="primary" mat-raised-button
                        matStepperNext>
                  {{ 'CREATEGROUP.CREATEGROUP' | translate }}
                </button>
              </div>
            </form>

          </mat-step>
        </mat-horizontal-stepper>
      </div>
    </div>
  </vex-page-layout-content>

</vex-page-layout>






